<?xml version="1.0"?>
<ruleset name="entity-translation-bundle">
    <exclude-pattern>test/Functional/Fixtures/cache/</exclude-pattern>
    <exclude-pattern>test/Functional/Fixtures/TestKernel.php</exclude-pattern>
    <rule ref="Hostnet" />
</ruleset>
